<h1>New Post</h1>

<form action='/post' method='post'>
    <p>
        <label for='title'>Title</label>
        <input type='text' name='title' id='title'>
    </p>
    <p>
        <label for='link'>Link</label>
        <textarea name='link' type='link' id='' cols='50' rows='1'></textarea>
    </p>
    <p>
        <input type='submit' value='save'>
    </p>
</form>